include ../../mixins/svg_icon.pug
include ../../mixins/section.pug
include ../../mixins/section-title.pug
include ../../mixins/advantages-list-item.pug

+section({
  styleWrapper: 'bg-gray-100 advantages',
  styleInner: 'flex flex-col sm:flex-row flex-wrap',
  show: 'fade',
})
  div(class='relative pt-40 sm:pt-16 xl:pt-0 grow lg:w-1/3 flex flex-col items-center')
    +section-title({
      level: 3,
      styleTitle: 'advantages-title relative z-3 px-10 md:px-4 mx-0 mr-auto text-center max-w-xs sm:text-left sm:my-auto',
      text: 'Ваша выгода'
    })

    include ./advantages-title-decor.pug

  ul(class='lg:w-2/3 mb-4')
    +advantages-list-item({
      title: 'все включено, без ограничений',
      description: 'Бассейн*, спа, тренажеры, кардиозона, групповые авторские уроки, шкафчик в просторной раздевалке',
    })
      +svg_icon(("images/sprite.svg"), "icon-gym", "55", "55", "0 0 55 55")

    +advantages-list-item({
      title: 'доступная цена',
      description: 'Cпециальный тарифный план со скидками, не нужно платить на год вперед',
    })
      +svg_icon(("images/sprite.svg"), "icon-best-price ", "55", "55", "0 0 57 55")

    +advantages-list-item({
      title: 'Комфортное продление',
      description: 'Понравилось? Удобное автоматическое списание подписки за абонемент с возможностью отмены в любой момент',
    })
      +svg_icon(("images/sprite.svg"), "icon-heart", "55", "55", "0 0 55 55")

  div(class='absolute bottom-0 right-0') *при наличии его в клубе
