-
  const TEXT = 'рядом с домом';

header(data-aos='menu-area' data-aos-anchor-placement="bottom-top" class='header fixed transition-all z-50 top-0 left-0 w-full font-bold px-4 lg:px-6 flex flex-col shadow-lg')
  div(class='py-4 flex flex-wrap justify-between items-center container mx-auto w-full max-w-screen-xl')
    include ../logo/logo.pug
    //city
    include ./city-change.pug
    div(class='hidden sm:flex') !{TEXT}
