include ../../mixins/section.pug
include ../../mixins/section-title.pug

+section({
  styleWrapper: 'bg-porcelain-50 clubs-services',
  styleInner: '',
  show: 'fade-in',
})
  +section-title({
    level: 2,
    styleTitle: 'md:px-10 xl:px-0',
    text: 'В абонемент включено'
  })

