.features {
  padding-top: 94px;
  max-width: 100%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;

  @media (max-width: $table) {
    padding-top: 30px;
  }

  @media (max-width: $mobile) {
    padding-top: 32px;
  }

  &__container {
    @media (max-width: $table) {
      padding: 0 155px;
    }

    @media (max-width: 950px) {
      padding: 0 43px;
    }

    @media (max-width: $mobile) {
      padding: 0;
      padding-bottom: 50px;
    }
  }

  &__header {
    margin-bottom: 56px;

    @media (max-width: $mobile) {
      padding: 0 20px;
      margin-bottom: 57px;
    }
  }

  &__slider {
    position: relative;
    margin: 0 auto;
    padding: 87px 87px 97px;
    margin-bottom: 160px;

    max-width: 1200px;

    background: $bg-slider;
    border-radius: 50px;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      padding: 97px 25px;
      margin-bottom: 100px;
    }

    @media (max-width: $table) {
      padding: 88px 86px 107px;
      margin-bottom: 92px;
    }

    @media (max-width: $mobile) {
      padding: 29px 57px 89px;
      margin-bottom: 24px;
      border-radius: 0;
    }

    @media (max-width: 452px) {
      padding: 29px 7px 89px;
    }

    & .swiper-pagination {
      bottom: 60px;
      left: 60px;
      display: flex;
      align-items: center;

      @media (max-width: $mobile) {
        bottom: 34px;
        left: 53%;
        transform: translateX(-50%);
      }
    }

    & .swiper-pagination-bullet {
      margin-right: 10px;
      width: 6px;
      height: 6px;
      background-color: #ffffff;
      opacity: 1;

      @media (max-width: $table) {
        margin-right: 16px;
      }
    }

    & .swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
      background-color: #f063b8;
    }
  }

  & h1 {
    margin: 0;
    margin-bottom: 37px;
    font-family: $mainFont;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: $primary-color;

    @media (max-width: $table) {
      font-size: 40px;
      line-height: 130%;
    }

    @media (max-width: $mobile) {
      font-size: 35px;
      margin-bottom: 44px;
    }
  }

  & p {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 649px;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 160%;
    color: #4b5d68;
  }

  &__slide {
    position: relative;
    padding-top: 10px;
    min-height: 394px;

    box-sizing: border-box;

    @media (max-width: $mobile) {
      min-height: 300px;
    }

    &::before {
      content: attr(data-num);
      position: absolute;
      left: 0;
      top: -30px;

      font-style: normal;
      font-weight: bold;
      font-size: 202px;
      line-height: 160%;

      color: #9c69e2;

      @media (max-width: $mobile) {
        display: none;
      }
    }

    &--new {
      position: relative;

      &::after {
        content: "new";
        position: absolute;
        top: 8px;
        left: 36%;
        width: 69px;
        height: 34px;
        font-family: $mainFontMedium;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        text-transform: uppercase;

        color: #ffffff;

        background: #f063b8;
        box-shadow: 0 4px 0 #efe3c5;
        border-radius: 0 0 4px 4px;

        @media (max-width: $mobile) {
          top: 4px;
          left: 15%;
        }
      }
    }

    &__inner {
      margin-left: 65px;
      margin-bottom: 10px;
      margin-right: 30px;
      padding: 56px 60px 44px 114px;
      text-align: left;
      background: #fff3d7;
      box-shadow: 0 10px 0 #f5bd3f;
      border-radius: 50px;
      box-sizing: border-box;

      @media (max-width: $desktop) {
        padding-left: 70px;
      }

      @media (max-width: $table) {
        padding-left: 114px;
        margin-right: 55px;
      }

      @media (max-width: $mobile) {
        margin-left: 14px;
        margin-right: 12px;
        padding: 54px 15px 40px 30px;
      }

      & h2 {
        margin: 0;
        margin-bottom: 33px;
      }
    }

    & a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.005em;
      color: #212353;
      text-decoration: none;
      box-sizing: border-box;

      &:focus,
      &:hover {
        color: #9c69e2;
      }
    }

    & span {
      margin-right: 24px;
    }

    & svg {
      fill: none;
    }

    &__h2 {
      margin: 0;
      margin-bottom: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 130%;
      color: #212353;
    }

    & p {
      margin: 0;
      margin-bottom: 20px;
      width: 100%;
      max-width: 216px;
      min-height: 160px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;

      color: #4b5d68;

      @media (max-width: 950px) {
        max-width: 100%;
      }

      @media (max-width: $mobile) {
        min-width: 100%;
      }
    }
  }
}
