.page-footer {
  padding: 75px 0;
  background-color: $bg-footer;

  transition: 1s;

  @media (max-width: $table) {
    padding: 54px 0;
  }

  @media (max-width: $mobile) {
    padding: 45px 0;
  }

  @media (max-width: 575px) {
    padding: 57px 0;
  }

  &__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    @media (max-width: $table) {
      align-items: flex-start;
    }

    @media (max-width: 575px) {
      justify-content: space-between;
    }
  }

  &__logo {
    margin-right: 190px;

    @media (max-width: 1680px) {
      margin-right: 60px;
    }

    @media (max-width: 1440px) {
      margin-right: 100px;
    }

    @media (max-width: $table) {
      margin-right: 70px;
    }

    // @media (max-width: 575px) {
    //   margin: 0 auto 10px;
    // }
  }

  &__form {
    margin-left: auto;

    @media (max-width: 575px) {
      margin-left: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0;
    margin: 0;

    list-style: none;
    box-sizing: border-box;

    @media (max-width: $table) {
      flex-direction: column;
      padding-top: 10px;
    }

    @media (max-width: 575px) {
      padding-top: 7px;
      margin-bottom: 45px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 54px;
    }

    @media (max-width: $table) {
      margin-bottom: 22px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: 575px) {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  &__link {
    display: block;
    font-family: $mainFontMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 250%;
    color: $default-color;
    text-decoration: none;

    &:focus,
    &:hover {
      opacity: 0.5;
    }

    @media (max-width: $table) {
      font-size: 16px;
      line-height: 21px;
    }
  }
}
