include ../../../mixins/services-list.pug
//- services-list

+services-list({
  list: [
    {
      stylesLi: 'overflow-hidden rounded-xl',
      title: 'Бассейн',
      description: 'Просторный бассейн для спортивного и расслабленного плавания',
      bgLi: './images/club-services/pool.webp',
    
    },
    {
      stylesLi: 'overflow-hidden rounded-xl',
      title: 'Тренажерный зал',
      description: 'Профессионально оборудованный и современный тренажёрный зал',
      bgLi: './images/club-services/gym.webp',
    },
    {
      stylesLi: 'overflow-hidden rounded-xl',
      title: 'Спа-комплекс ',
      description: 'Финская, русская, турецкая, инфракрасная сауны и соляная комната',
      bgLi: './images/club-services/spa.webp',
    },
    {
      stylesLi: 'overflow-hidden rounded-xl',
      title: 'Групповые уроки',
      description: 'Разнообразные групповые уроки растяжка, гимнастика, силовые, аквааэробика',
      bgLi: './images/club-services/group.webp',
    },
  ]
})
