include ../../../mixins/carousel.pug

//- 1
div(class='relative')
  div(class='p-4 pl-0 pr-6 mb-1 mt-2 text-md font-semibold')
    span(class='text-curious-blue-500') Просторный Бассейн
    |
    | для спортивного и расслабленного плавания

  div(class='w-8 h-8 absolute top-5 right-0 text-picton-blue-500')
    +svg_icon(("images/sprite.svg"), "scroll", "32", "30", "0 0 32 30")

  //- carousel
  +carousel({
    id: 'carousel-clubs-pool',
    styles: 'carousel',
    list: [
      {
        src: './images/clubs/samara/pool/1.webp'
      },
      {
        src: './images/clubs/samara/pool/2.webp'
      },
      {
        src: './images/clubs/samara/pool/3.webp'
      },
    ]
  })
