<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="css/main.min.css">

<title>Test</title>

<link rel="preload" href="../fonts/opensans.woff2" as="font" />
<link rel="preload" href="../fonts/opensansbold.woff2" as="font" />

<!-- <link rel="icon" href="img/favicon.png" type="image/x-icon"> -->
