<div class="page-footer">
  <div class="wrapper">
    <form action="" class="form">
      <div class="form__item">
        <div class="form__title">Успей купить!</div>
        <div>Подпишись и успей словить все акции</div>
      </div>
      <div class="form__item">
        <label for="email" class="form___label visually-hidden">E-mail</label>
        <input id="email" type="email" class="form__email" placeholder="E-mail">
        <label for="check" class="form___label">Подписаться на новости</label>
        <input id="check" type="checkbox" class="form__check" checked>
      </div>
      <div class="form__item">
        <bottom class="form__btn button" type="submit">Подписаться</bottom>
      </div>
    </form>
  </div>
</div>