<div class="page-header">
  <div class="page-header__wrapper">
    <div class="page-header__logo">
      <a href="" class="logo">
        <img class="logo__pic" src="../img/logo.png" alt="logo" />
      </a>
    </div>
    <div class="page-header__nav">
      <nav class="navigation navigation--closed">
        <button
          class="navigation__toggle"
          type="button"
          aria-label="Открыть меню"
        ></button>
        <div class="navigation__wrapper">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a class="navigation__link" href="#">Объекты</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Компания</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Как купить</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Агентам</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Регионам</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Акции</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Комнаты</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="page-header__contacts">
      <a href="tel:+7888888898" class="phone">8 888 88 88 98</a>
      <span>Звони скорее!</span>
    </div>
  </div>
</div>
