<section class="product">
  <div class="product__inner">
    <div class="product__actions actions">
      <div class="actions__discount">
        <div class="discount">-17%</div>
        <div class="discount">Шок ценам!</div>
      </div>
      <div class="actions__like like">
        <svg class="like__icon" width="20" height="20">
          <use xlink:href="img/sprite.svg#icon-star"></use>
        </svg>
      </div>
    </div>
    <div class="product__content">
      <img class="product__pic" src="../img/products/pr-44.png" alt="pic" />
      <h3 class="product__title">Студия №44</h3>
      <div class="product__info">
        <ul class="info-list">
          <li class="info__item">
            <div class="info-list__finish">без отделки</div>
          </li>
          <li class="info-list__item">
            <div class="info-list__val">28 <sup>2</sup></div>
            <div class="info-list__name">площадь</div>
          </li>
          <li class="info-list__item">
            <div class="info-list__val">12/14</div>
            <div class="info-list__name">этаж</div>
          </li>
        </ul>
      </div>
      <div class="product__price">1 900 000 руб.</div>
    </div>
    <button class="product__btn button">Забронировано</button>
  </div>
</section>
