include ../../mixins/tariff-header.pug
include ../../mixins/tariff-price.pug
include ../../mixins/tariff-info.pug
include ../../mixins/tariff-list-zone.pug

.swiper(id='carousel-tariffs' class='carousel-tariffs')
  .swiper-wrapper
    each el in TARIFF_DATA_SAMARA
      .swiper-slide(class='h-auto')
        div(class=tariffWrapperClass(el))
          div(class='relative z-2')
            //- header
            +tariff-header(el)
            //- title
            h3(class='tariff__name my-2 mt-3 md:my-4')=el.webTitle
            //- price
            +tariff-price(el)
            //- info
            +tariff-info(el)

            //- membership
            include ../tariff/tariff-membership.pug

            //- btn
            a(onclick='toggleModal(' + el.id +')' href='#modal-' + el.id class='block p-4 w-full rounded-full text-center font-bold uppercase text-white ' + tariffBtnClass(el)) Купить
            
            //- list
            +tariff-list-zone(TARIFF_LIST_ZONE_SAMARA)
