include ../../mixins/tariff-header.pug
include ../../mixins/tariff-price.pug
include ../../mixins/tariff-info.pug
include ../../mixins/tariff-list-zone.pug
include ../../mixins/tariff-data.pug

div(class='w-full overflow-y-auto flex flex-wrap sm:flex-nowrap justify-center md:py-4')
   +tariff-data(TARIFF_DATA_SAMARA, TARIFF_LIST_ZONE_SAMARA)
    //- membership
    include ../tariff/tariff-membership.pug

