include ../../mixins/tariff-header.pug
include ../../mixins/tariff-price.pug
include ../../mixins/tariff-info.pug
include ../../mixins/tariff-list-zone.pug
include ../../mixins/tariff-data.pug

div(class='w-full overflow-y-auto flex flex-wrap xs:flex-nowrap gap-4 justify-center md:py-4')
  +tariff-data(TARIFF_DATA_SPB, TARIFF_LIST_ZONE_SPB)
    //- membership
    include ../tariff/tariff-membership.pug
