include ../../mixins/svg_icon.pug
include ../../mixins/section.pug
include ../../mixins/section-title.pug

+section({
  id: 'tariffs',
  styleWrapper: 'tariffs relative overflow-hidden bg-curious-blue-500',
  styleInner: 'max-w-screen-xl overflow-hidden',
  show: 'fade',
})
  +section-title({
    level: 2,
    styleTitle: 'text-white-50',
    text: 'Тарифы'
  })

  div(class='hidden sm:block relative')
    div(class='w-8 h-8 xl:hidden absolute -top-20 right-0 text-white-50')
      +svg_icon(("images/sprite.svg"), "scroll", "32", "30", "0 0 32 30")
    include ./carousel-tariffs.pug

  div(class='block sm:hidden')
    include ./list-tariffs.pug

