.swiper(id='carousel-promo' class='carousel-promo max-w-screen-xl mx-auto')
  .swiper-wrapper
    .swiper-slide
      picture(class='w-full h-full block')
        source(media='(min-width: 620px)' srcSet='../images/promo/1.webp')
        img(className='w-full h-full' src='../images/promo/mob/1.webp' alt='')
      
      a(href='#tariffs' class='block absolute bottom-16 sm:bottom-10 xl:bottom-20 left-4 sm:left-32 xl:left-52 p-3 px-10 xl:px-20 font-bold text-xl bg-white-50 rounded-3xl') Купить
    
    .swiper-slide
      picture(class='w-full h-full block')
        source(media='(min-width: 620px)' srcSet='../images/promo/2.webp')
        img(className='w-full h-full' src='../images/promo/mob/2.webp' alt='')
      
      a(href='#tariffs' class='block absolute bottom-16 sm:bottom-10 xl:bottom-20 left-4 sm:left-32 xl:left-52 p-3 px-10 xl:px-20 font-bold text-xl bg-white-50 rounded-3xl') Купить


  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next
