*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  min-width: 300px;
  margin: 0;
  padding: 0;
  font-family: $font-base;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $text-color;
}

img {
  max-width: 100%;
  height: auto;
}


// footer к низу

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-inner {
  flex: 1 0 auto;
  overflow: hidden;

  @media (min-width: 600px) {
    margin-bottom: 100px;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.page-footer {
  flex: 0 0 auto;
}

.hidden {
  display: none;
}

