// шрифты
$OpenSans: "Open Sans";
$OpenSansBold: "Open Sans Bold";

$font-base: $OpenSans, "Arial", sans-serif;

$mobile-width-x: 425px;
$mobile-width-xl: 600px;
$tablet-width: 769px;
$desktop-width: 1140px;
$desktop-width-x: 1280px;
$desktop-width-xl: 1540px;
$desktop-width-xxl: 1920px;

$mobile-width-only: 768px;

// цвета

$header-bg: #002f2f;
$footer-bg: $header-bg;
$btn-bg: #046380;
$discount-bg: #ff4444;
$form-bg: #046380;
$reservation-bg: #a7a37e;
$reservation-color: #a7a37e;
$free-bg: #002f2f;
$sales-bg: #a1a1a1;
$title-color: #002f2f;
$bg-color: #faf9ef;
$text-color: #313639;
$star-color: #a7a37e;




