-
  const CONTRIBUTION = 1500; // стоимость подписки
  const OLD_CONTRIBUTION = 3900; // стоимость подписки
  const END_DATE_SALE = '24 октября'; // стоимость подписки
  const TEXT_SUBSCRIPTION_SALE =  `*Скидка на первоначальный взнос 2.400 ₽ до ${END_DATE_SALE}`;
  //-  текст подсказки у тарифа
  const TEXT_SUBSCRIPTION_TOOLTIP = 'Вступительный платеж оплачивается один раз и дает право на ежемесячное получение скидки относительно стоимости годового Абонентского договора';

  const CITIES = {
    spb: 'Санкт-Петербург',
    samara: 'Самара',
  }
