mixin section(data={})
  section(id=data.id data-aos=data.show class='py-10 px-4 lg:py-16 lg:px-6 ' + data.styleWrapper)
    div(class='relative container mx-auto max-w-screen-xlg ' + data.styleInner)
      block
