.timer__item svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 10;
  stroke: #e1e9ec;
}

.timer__item .circle {
  stroke-dasharray: 440;
  stroke-linecap: round;
}

.timer__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  line-height: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.timer-title {
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 24.7px */
}

@media (min-width: 567px) {
  .timer-title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 30.8px */
  }
}

@media (min-width: 960px) {
  .timer-title {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 35px */
  }
}
