//- membership
div(class='my-2 mb-4 md:my-4 md:mb-6 text-sm md:text-base font-medium') !{TEXT_SUBSCRIPTION_SALE}

  div(class='relative inline-flex flex-col ml-1 items-center group')
    //- icon
    div(class='w-8 h-auto')
      +svg_icon(("images/sprite.svg"), "icon-information", "18", "18", "0 0 22 22")
    div(class='tariff__tooltip absolute bottom-0 right-1/2 flex-col items-center hidden mb-6 group-hover:flex')
      span(class='relative z-10 p-2 md:p-4 text-md leading-none text-white-800 whitespace-no-wrap bg-white-100 shadow-lg rounded-md w-60 max-w-full text-center') !{TEXT_SUBSCRIPTION_TOOLTIP}
