-
  const listFaqAccordion = [
    {
      id: 1,
      title: 'В какое время можно посещать клуб?',
      text:
      `  <div>
          Посещать клубы можно в часы их работы:<br/>
          - пн-пт с 07:00 до 23:00,<br/>
          - сб-вс (и праздничные дни) с 08:00 до 22:00
      </div>`
      ,
    },
    {
      id: 2,
      title: 'Как продлить абонемент?',
      text:
        'Продлить свой абонемент вы можете в любой момент в интернет-магазине Фитнес Хаус.',
    },
    {
      id: 3,
      title: 'Что такое вступительный взнос?',
      text:
        `<div>
          Вступительный взнос включает: <br/>
          - Составление плана персональной тренировки;<br/>
          - Личный ключ для доступа в клуб (браслет);<br/>
          - Ежемесячное получение скидки.<br/>
          Вступительный взнос оплачивается один раз и активен весь срок действия вашего договора.',
        </div>`
    },
    {
      id: 4,
      title: 'Какие групповые занятия можно посещать?',
      text: 'Вы можете посещать все бесплатные групповые занятия в клубе.',
    },
    {
      id: 5,
      title: 'В стоимость включена ознакомительная тренировка с тренером?',
      text:
        'При покупке абонемента вы получите Стартовый пакет тренировок в подарок  (1 персональная тренировка в тренажерном зале, 1 персональная тренировка в бассейне, 1 платное групповое занятие)',
    },
    {
      id: 6,
      title: 'Есть заморозка абонемента?',
      text: 'Заморозка абонемента не предусмотрена.',
    },
  ];
