.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include rem(padding, 55px);
  background-color: $footer-bg;
  @include rem(margin-bottom, 100px);
  color: #ffffff;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 34px;
    line-height: normal;
  }
}
