.navigation {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  @media (min-width: 990px) {
    position: relative;
    width: auto;
  }
}

.navigation__wrapper {
  display: flex;
  flex-direction: column;
}

.navigation--closed .navigation__toggle {
  position: absolute;
  top: 15px;
  right: 15px;

  z-index: 2;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-image: url('../img/icons/icon-menu-open.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.navigation--opened .navigation__toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-image: url('../img/icons/icon-menu-close.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__item {
  position: relative;
  display: block;
  margin: 0;
}

.navigation__link {
  display: block;
  @include rem(padding, 10px);
  line-height: normal;
  text-decoration: none;

  line-height: normal;

  @include ff(
    'font-size',
    (
      767px: 20px,
      768px: 10px,
      1280px: 15px,
      1800px: 17px,
    )
  );
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media (max-width: $mobile-width-only) {
  .navigation--closed .navigation__list {
    height: 60px;
    visibility: hidden;
  }

  .navigation--closed .js-logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    visibility: visible;
  }

  .navigation--closed .navigation__wrapper {
    position: relative;
    min-height: 60px;
  }

  .navigation--nojs .navigation__wrapper {
    position: static;
  }

  .navigation.navigation--opened .navigation__wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $header-bg;
    overflow: hidden;
  }

  .navigation.navigation--opened .navigation__list {
    display: block;
    height: auto;

    padding: 40px 15px;

    & .navigation__list li {
      margin-bottom: 10px;
      padding: 10px;
    }

    & .navigation__list a {
      font-size: 16px;
      color: #ffffff;
    }
  }

  .navigation--nojs .js-logo {
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .navigation__wrapper {
    margin: 0 auto;
    box-sizing: border-box;
  }

  .navigation__list {
    position: relative;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navigation__list li {
    display: block;
    animation-name: navItemtop;
    animation-duration: 1s;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__list a {
    padding: 16px 0;
  }

  .navigation__list li {
    width: auto;
    height: auto;
    border-bottom-color: transparent;
  }

  .navigation--nojs .navigation__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .navigation__wrapper {
    margin: 0 auto;
    box-sizing: border-box;
  }

  .navigation__list {
    flex-direction: row;
  }

  .navigation__list li {
    display: block;
    animation-name: navItemtop;
    animation-duration: 1s;
    margin-right: 40px;
  }
}

.navigation .navigation__list li.logo {
  display: block;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.navigation .logo {
  display: none;
}

@media (max-width: 768px) {
  .navigation .logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 60px;
  }
}
