.page-header {
  background-color: $header-bg;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1690px;
    margin: 0 auto;
    padding: 15px;
  }
  &__contacts {
    display: none;

    @media (min-width: 769px) {
      display: flex;
      flex-direction: column;
      color: #ffffff;
    }
  }
}
