.product {
  position: relative;
  transition: 1s;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $reservation-color;
  }
  &__btn {
    width: 100%;
    @include rem(padding, 10px);
    color: #ffffff;
    text-transform: uppercase;
    background-color: $reservation-bg;
  }
}
