.products {
  @include rem(padding, 20px);
  @media (min-width: 769px) {
    @include rem(padding, 40px);
  }
  @media (min-width: 1140px) {
    @include rem(padding, 40px 60px);
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 100%;
    flex-grow: 1;
    @include rem(margin-bottom, 25px);

    @media (min-width: 426px) {
      width: calc(50% - 40px);
      @include rem(margin-right, 40px);

      &:nth-child(2n) {
        margin-right: 0;
      }

    }
    @media (min-width: 769px) {
      width: calc(100% / 3 - 60px);
      @include rem(margin, 0 60px 55px 0);

      &:nth-child(2n) {
        margin-right: 0;
        @include rem(margin-right, 60px);
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
