.sort {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    @include rem(margin-bottom, 40px);
    font-size: 14px;
    color: #002f2f;
  }
  &__title {
    @include rem(margin-right, 20px);
  }
  &__price {
    @include rem(margin-right, 20px);
  }
}