.title {
  font-size: 48px;
  font-family: $OpenSansBold;
  @include rem(margin, 0 0 40px 0);

  @media (min-width: 769px) {
    @include rem(margin, 0 0 75px 0);
    @include rem(padding-left, 65px);
  }
}